body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-color: #a8bf7e;
}
.number-area {
    background-color: #f3fdec;
    min-width: 400px;
    min-height: 75px;
    color: #4a4e6b;
    font-size: 50px;
    padding: 10px;

    
}

.calculator {
    background-color:#a0d0ea ;
    display: flex;
    flex-direction: column;
    flex-grow: 0;

    max-width: fit-content;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 30px;
}

.btn {
    background-color: #efefef;
    min-width: 125px;
    min-height: 100px;
    font-size: 50px;
    color: #4a4e6b;
    /* padding : 30px; */
    margin:5px;
}

#C {
    background-color: #fe9fa9;
}

#multi, #div, #sub, #add {

    background-color:#efff93;


}